body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #bbc0c0; */
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.slideshow {
  width: 20%;
  height: 20%;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: 300px;
}

.content {
  padding: 20px;
}

.game-list {
  display: flex;
  justify-content: space-between;
}

.game {
  width: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.game img {
  width: 100%;
}

.community {
  background-color: #f2f2f2;
  padding: 20px;
}

.community-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.post {
  background-color: #fff;
  padding: 20px;
}

footer {
  background-color: #171a21;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.background-image {
  background-image: url("../img/backgrand.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}